@import "../../node_modules/materialize-css/sass/materialize.scss";

$bg-color: #424242;
$fore-color: #ffffff;

body {
    background: $bg-color;
    color: $fore-color;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

img {
    max-height: 300px;
    object-fit: cover;
}

.card {
    background-color: black;
    height: 520px;   
}

.card .card-title {
    font-weight: 500;
    font-size: 1.4em;  
}

#sec {
    padding: 5px;
    padding-top: 30px;
}

.favorite-movie-button {
    background: black;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px;
}

.favorite-movie-button:hover {
    background-color: rgb(10, 10, 10);
}




